<h2>Cart</h2>

<%= form_for @order, url: cart_url do |f| %>
	<table class='table'>
		<tr>
			<th>Name</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Total</th>
		</tr>
		<% @order.items.each do |item| %>
			<tr>
				<td><%= link_to item.product_name, item.product %></td>
				<td>
					<%= f.fields_for :items, item do |fi| %>
						<%= fi.text_field :quantity, class: 'small_input' %>
					<% end %>
				</td>
				<td><%= item.price %>$</td>
				<td><%= item.cost %>$</td>
			</tr>
		<% end %>
		<tr>
			<td></td>
			<td><%= f.submit "Update", class: 'btn btn-info' %></td>
			<td></td>
			<td><%= @order.total_cost %>$</td>
		</tr>
	</table>
<% end %>

<% if @order.amount_of_items > 0 %>
	<%= button_to "Proceed to payment", payment_cart_path, method: :get, class: 'btn btn-primary' %>
<% end %>