<h2><%= @product.name %></h2>

<h4>Price: <%= @product.price %></h4>

<h4>Category: <%= link_to @product.category.name, @product.category %>
	
<p>
	<%= @product.desc %>
</p>

<%= link_to "Back to main page", root_path %>